@import url("../../index.css");

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
  width: 100%;
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #e0e0e0;
  background-color: var(--dusty-rose);
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--light-grey);
  font-family: cursive;
  cursor: pointer;
}

.headerLogoLink {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.searchContainer input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: fit-content;
  left: 0;
  right: 0;
  margin: auto;
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}

.headerLinksButton {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--light-grey);
  color: var(--dusty-rose);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.headerLinksButton:hover {
  background-color: var(--dusty-rose);
  color: var(--light-grey);
}

.userDropdown {
  position: absolute;
  top: 50px;
  right: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  gap: 2px;
  padding: 0px;
  z-index: 100;
  width: 30%;
  min-width: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.userDropdownItem {
  transition: all 0.5s;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 15px;
}

.userDropdownItem:hover {
  background-color: var(--peach);
}

.categoryHeader {
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 10px;
  background-color: var(--peach);
  margin-top: 5px;
}

.categoryHeaderItem {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--light-grey);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0.6;
  transition: all 0.5s;
}

.categoryHeaderItem:hover {
  opacity: 1;
}

.cart {
  position: relative;
}

.cart .cartCount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--dusty-rose);
  color: #fff;
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .searchContainer input {
    position: relative;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }
  .header{
    flex-direction: column;
    padding: 10px 20px;
  }

  .logo{
    font-size: 25px;
  }

  .categoryHeader{
    top: 90px;
  }
}