.pageNotFoundContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 30px;
    cursor: default;
    user-select: none;
    color: var(--grey-text);
    height: 76.8vh;
}

.pageNotFoundContainer .icon{
    font-size: 45px;
}

.pageNotFoundContainer .btn{
    text-transform: uppercase;
    background-color: var(--dusty-rose);
    padding: 5px 8px;
    border-radius: 3px;
    box-shadow: var(--shadow);
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.pageNotFoundContainer .btn:hover{
    opacity: 1;
}